// COLOURS
$sliceFinance_primary: #41175A;
$sliceFinance_secondary: #EF542B;
$sliceFinance_black: #000000;
$sliceFinance_charcoal: #58595b;
$sliceFinance_white: #ffffff;

// SIZES
$fullWidth: 100%;
$pageWidth: 1440px;

    // SIZES--SPACING
    $spaceUltraThin: 0.25rem;
    $spaceThin: 0.5rem;
    $spaceRegular: 1rem;
    $spaceMedium: 1.5rem;
    $spaceThick: 2rem;
    $spaceUltraThick: 3rem;

// FONTS

$sliceFinanceMedium: 'avenir_next_worldmedium';
$sliceFinanceMediumItalic: 'avenir_next_worldMdIt';

$sliceFinanceReg: 'avenir_next_worldregular';
$sliceFinanceRegItalic: 'avenir_next_worlditalic';

$sliceFinanceDemi: 'avenir_next_worlddemi';
$sliceFinanceDemiItalic: 'avenir_next_worlddemi_italic';

$sliceFinanceBold: 'avenir_next_worldbold';
$sliceFinanceBoldItalic: 'avenir_next_worldbold_italic';

// TRANSITIONS
$tranSimple: 0.3s ease-out all;